obj
bin
#appsettings.json
.vs
*.gen
.idea
update_all_dependencies.ps1
Properties/launchSettings.json
NetDaemonApps.sln
NetDaemonApps.csproj
HomeAssistantGenerated.cs
Dockerfile
appsettings.json
.vscode/launch.json
.devcontainer/devcontainer.json
.vscode/tasks.json
/apps/HassModel/Alarm/SMSNotification.cs
